.home-header__text {
    height: 36px;
    font-size: 14px;
    text-decoration: none;
    color: #737373;
    margin-right: 20px;
    margin-bottom: 26px;
}

.home-header__register {
    font-size: 13px;
    border: 0.75px solid #FAD648;
    padding: 9px 10px 9px 10px;
    margin-right: 0;
}